<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmp.widget" >

    <application>
        <activity android:name=".ui.ColorPickerActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden"/>
    </application>
</manifest>
